# ================== 通用配置 ==================
# 想要分析股票代码列表（用逗号分隔）
TICKERS=AAPL,MSFT
#GOOGL,NVDA,TSLA,META,AMZN

#金融数据api
FINANCIAL_DATASETS_API_KEY=
FINNHUB_API_KEY=

#模型api
OPENAI_API_KEY=
OPENAI_BASE_URL=
MODEL_NAME=qwen3-max-preview

#记忆模块（支持ReMe 或 Mem0 Memory ）
MEMORY_FRAMEWORK=reme # reme or mem0

#记忆模块（如果选择Mem0 memory需填）
MEMORY_LLM_MODEL=qwen3-max-preview
MEMORY_EMBEDDING_MODEL=text-embedding-v4

#记忆模块（如果选择Reme memory需填）
MODEL_PROVIDER=reme
MODEL_WORKSPACE=workspace_reme
FLOW_APP_NAME=ReMe

FLOW_LLM_API_KEY=
FLOW_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
FLOW_EMBEDDING_API_KEY=
FLOW_EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
REME_EMBEDDING_DIMENSIONS=64



# ================== Agent 特定模型配置 ==================
# 为不同角色配置不同的基座模型
# 如果未配置，将使用全局 MODEL_NAME 和 MODEL_PROVIDER
#
# 角色列表：
# - SENTIMENT_ANALYST: 情绪分析师
# - VALUATION_ANALYST: 技术分析师
# - FUNDAMENTALS_ANALYST: 基本面分析师
# - VALUATION_ANALYST: 估值分析师
# - PORTFOLIO_MANAGER: 投资组合经理
# - RISK_MANAGER: 风险管理经理


#arg1
AGENT_SENTIMENT_ANALYST_MODEL_NAME=qwen3-max-preview
AGENT_SENTIMENT_ANALYST_MODEL_PROVIDER=OpenAI
AGENT_TECHNICAL_ANALYST_MODEL_NAME=glm-4.6
AGENT_TECHNICAL_ANALYST_MODEL_PROVIDER=OpenAI
AGENT_FUNDAMENTALS_ANALYST_MODEL_NAME=deepseek-v3.2-exp
AGENT_FUNDAMENTALS_ANALYST_MODEL_PROVIDER=OpenAI
AGENT_VALUATION_ANALYST_MODEL_NAME=Moonshot-Kimi-K2-Instruct
AGENT_VALUATION_ANALYST_MODEL_PROVIDER=OpenAI
AGENT_RISK_MANAGER_MODEL_NAME=qwen3-max-preview
AGENT_RISK_MANAGER_MODEL_PROVIDER=OpenAI
AGENT_PORTFOLIO_MANAGER_MODEL_NAME=qwen3-max-preview
AGENT_PORTFOLIO_MANAGER_MODEL_PROVIDER=OpenAI


# ================== 高阶配置 ==================

# 是否禁用会议和私聊沟通机制
DISABLE_COMMUNICATIONS=false
# 是否禁用通知机制
DISABLE_NOTIFICATIONS=false

#运行模式
MODE=portfolio   #portfolio or signal 模式，signal模式不涉及position 管理，更像预测因子信号输出。signal模式前端适配暂不完全

#保证金比例
MARGIN_REQUIREMENT=0.10
# 0.5 = 标准保证金（推荐）
# 0.25 = 维持保证金（激进）

# 记忆复盘模式选择: individual_review 或 central_review (默认: individual_review)
# - individual_review: 每个Agent（包括PM）独立进行自我复盘（推荐）
# - central_review: PM统一评估所有分析师（旧模式）
MEMORY_REVIEW_MODE=individual_review