
agentscope

asyncio>=3.4.3
rich

# WebSocket支持
websockets>=12.0
websocket-client>=1.6.0

# tools & data
python-dotenv>=1.0.0
finnhub-python
numpy
matplotlib
seaborn
pandas_market_calendars

# memory
mem0ai
reme_ai
